.lista {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    border-radius: 0px;
}

.lista-item {
    position: relative;
    display: block;
    padding: 0.75rem 1.25rem;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
}

.lista-item-non-border {
    position: relative;
    display: block;
    padding: 0.75rem 1.25rem;
    background-color: #fff;
}

.img-content {
    width: auto;
    height: 100px;
}

.img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 60%;
}

.img-content-compras {
    width: auto;
    height: 50px;
}

.img-compras {
    max-width: 100%;
    max-height: 100%;
}

.steps-input {
    border-top: none;
    border-left: none;
    border-right: none;
}

.no-link {
    color: rgb(128, 128, 128);
    text-decoration: none;
}

.no-link:link {
    color: rgb(128, 128, 128);
    text-decoration: none;
}


/* visited link */

.no-link:visited {
    text-decoration: none;
}


/* mouse over link */

.no-link:hover {
    color: rgba(4, 0, 255, 0.822);
    text-decoration: none;
}


/* selected link */

.no-link:active {
    color: black;
    text-decoration: none;
}